<html>
  <head>
    <style type="text/css">
      body {
        background: black;
        color: yellow;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4>welocme to my channel !!! please do like ,share and subscribe to my channel</h4>
      <h4>My Docker Container running inside  EKS Cluster !!</h4>
      <br>
       <h4>Deploying Containers into EkS cluster using Jenkins Pipeline !!!!!</h4>
    </div>
  </body>
</html>
